<h1>Categories</h1>
  <ul>
    <% @categories.each do |category| %>
      <li class = "container"><strong><%= link_to category.name, category_path(category) %></strong>:  
      <% count = category.total_articles %> 
      <%= "#{count} #{count == 1 ? 'article' : 'articles'}" %>
      <br> <em> <%= category.description %> </em></li>
    <% end %>
  </ul>

<%= link_to "New Category", new_category_path(@category), class:"btn btn-dark"  %>